.callout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px;
  border-radius: 5px;
  background-color: color-mod(var(--golden) alpha(15%));
  font-size: var(--size-normal);
  line-height: 18px;
  color: var(--dark);
}

.calloutContainer {
  display: flex;
  align-items: center;
}

.calloutWarning {
  margin-right: 4px;
  position: relative;
  top: 1px;
  font-weight: var(--weight-bold);
}

.calloutLink {
  margin-right: 4px;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
}

.warningIcon {
  margin-right: 5px;
  height: 18px;
  width: 18px;
  fill: var(--golden);
}

.warningIconCheckSafe {
  margin-right: 15px;
}
