@value query428 from '~styles/queries.css';

.submitButton {
  display: flex;
  justify-content: flex-end;
  margin-top: 48px;
}

.paragraph {
  margin-top: 1.5em;
  font-size: var(--size-medium);
}

.truncated {
  word-break: break-word;
}

@media screen and query428 {
  .submitButton {
    margin-top: 25px;
  }
}
