@value query850 from '~styles/queries.css';

.main {
  margin-top: 180px;
  width: 460px;
}

.inputFields {
  margin-top: 40px;
}

.inputFieldWrapper {
  margin-bottom: 50px;
}

.linkToOtherStep {
  border: none;
  background-color: transparent;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--sky-blue);
  cursor: pointer;
}

@media screen and query850 {
  .main {
    margin-top: 155px;
    padding-bottom: 40px;
    width: 100%;
  }

  .inputFields > div {
    min-height: 87px;
  }

  .inputFields > div:first-child {
    min-height: 109px;
  }

  .inputFieldWrapper {
    margin-bottom: 25px;
  }
}
