@value query700 from '~styles/queries.css';

.main {
  margin-top: 180px;
  width: 100%;
  max-width: 460px;
}

.main form {
  margin-top: 45px;
}

.linkToOtherStep {
  border: none;
  background-color: transparent;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--sky-blue);
  cursor: pointer;
}

@media screen and query700 {
  .main form {
    padding-bottom: 40px;
  }
}
