.main {
  padding-top: 100px;
  width: 500px;
}

.main div {
  max-height: none;
}

.deploymentError {
  padding: 15px;
  border-radius: var(--radius-small);
  background-color: var(--danger);
  text-align: center;
  color: var(--colony-white);
}

.linkToColony {
  font-weight: var(--weight-bold);
  text-decoration: underline;
}
