@value query428 from '~styles/queries.css';

.inputWrapper > div > div > input {
  font-family: var(--family-techie);
  font-weight: var(--weight-medium);
}

@media screen and query428 {
  /* Input status */
  .inputWrapper p {
    white-space: normal;
  }
}
