.main {
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.elementWrapper {
  composes: flexContainerRow flexAlignCenter flexJustifyCenter from '~styles/layout.css';
  margin-right: 12px;
  padding: 1px 9px;
  height: 26px;
  position: relative;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--grey-purple) alpha(10%));
  font-size: var(--size-smallish);
  line-height: 26px;
}

.networkInfo {
  font-weight: var(--weight-bold);
  color: var(--dark-grey);
  cursor: default;
}

.networkInfo:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
  color: var(--colony-blue);
  cursor: pointer;
}

.reputation:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
  cursor: pointer;
}

/* The first selector is for the reputation value text when reputation shows `- %`
 * in the create colony wizard. The second one is for other reputation value texts.
*/
.reputation:hover div, .reputation:hover span {
  color: var(--colony-blue);
}

.reputation:hover svg {
  stroke: var(--colony-blue);
}
