
.main {
  display: inline-flex;
  align-items: center;
  text-align: left;
}

.elementWrapper {
  composes: flexContainerRow flexAlignCenter flexJustifyCenter from '~styles/layout.css';
  margin-right: 12px;
  padding: 1px 9px;
  height: 26px;
  position: relative;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--temp-grey-blue-7) alpha(10%));
  font-size: var(--size-smallish);
  line-height: 26px;
}

.notificationsButton {
  composes: button from '~styles/reset.css';
}

.notificationsIcon {
  flex-grow: 0;
  margin-right: 15px;
  padding: 9px;
  height: 36px;
  width: 36px;
  border-radius: 38px;
  text-align: center;
  cursor: pointer;
}

.notificationsIcon:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
}

.notificationsIcon:hover svg {
  fill: var(--colony-blue);
  stroke: var(--colony-blue);
}

.notificationsIconActive svg {
  fill: var(--colony-blue);
  stroke: var(--colony-blue);
}

.notificationsHighlight {
  display: block;
  margin: -24px -3px 0 0;/* Using negative margins to group the notification dot and icon. */
  height: 9px;
  width: 9px;
  position: relative;
  float: right;
  border-radius: 50%;
  background-color: var(--pink);
  content: '';
  box-shadow: 0px 2px 11px var(--drop-shadow);
}

.networkInfo {
  font-weight: var(--weight-bold);
  color: var(--dark-grey);
  cursor: default;
}

.networkInfo:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
  color: var(--colony-blue);
  cursor: pointer;
}

.wrongNetwork {
  composes: networkInfo;
  padding: 4px 10px;
  background-color: var(--danger);
  color: var(--colony-white);
}

.readyTransactionsCount {
  padding-top: 2px;
  height: 20px;
  min-width: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50px;
  background-color: var(--pink);
  font-size: var(--size-unreadable);
  font-weight: 600;
  text-align: center;
  color: var(--colony-white);
  box-shadow: 0px 2px 11px var(--drop-shadow);
}

.readyTransactionsCount span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.reputation:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
  cursor: pointer;
}

/* The first selector is for the reputation value text when reputation shows `- %`
 * in the create colony wizard. The second one is for other reputation value texts.
*/
.reputation:hover div, .reputation:hover span {
  color: var(--colony-blue);
}

.reputation:hover svg {
  stroke: var(--colony-blue);
}
