@value query428 from '~styles/queries.css';

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
}

.inputComponent {
  flex-grow: 1;
}

.inputComponent input {
  text-align: right;
}

.inputComponent label {
  color: var(--dark);
}

.nativeToken {
  padding: 0 50px 0 20px;
}

.annotation {
  margin-top: 30px;
}

@media screen and query428 {
  .inputContainer > div {
    min-height: 75px;
  }

  .nativeToken {
    padding: 15px 10px 10px;
  }
}
