.wrapper {
  @apply bg-base-white text-3 relative flex justify-end text-md after:transition-all after:duration-normal after:block after:content-[""] after:border-[0.1875rem] after:border-transparent after:absolute after:-top-[0.1875rem] after:-left-[0.1875rem] after:w-[calc(100%+0.1875rem+0.1875rem)] after:h-[calc(100%+0.1875rem+0.1875rem)] after:rounded-lg;
}

.searchInput {
  @apply z-[1] min-h-[2.125rem] pr-3 pl-[2.125rem] py-1.5 w-full border rounded-lg border-gray-300 placeholder:text-gray-400;
}

.searchButton {
  @apply text-gray-900 sm:text-gray-500 flex items-center transition-all duration-normal justify-center h-full absolute top-0 right-0 px-4 bg-blue-400 rounded-lg;
}

.icon {
  @apply z-[2] absolute top-[50%] translate-y-[-50%] left-3 sm:left-[0.75rem] flex text-gray-900 sm:text-gray-500 pointer-events-none;
}
