.main {
  composes: flexContainerRow flexAlignCenter from '~styles/layout.css';
}

.colonySubscribed {
  composes: flexContainerRow flexAlignCenter from '~styles/layout.css';
  position: relative;
}

.colonyJoin {
  margin-top: 4px;
  position: absolute;
}

.colonyAddress {
  padding: 4px 6px;
  height: 24px;
  border-radius: var(--radius-normal);
  text-align: center;
  line-height: var(--size-smallish);
  color: var(--grey-purple);
  cursor: pointer;
  user-select: none;
  outline: 0;
}

.colonyAddress:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
  color: var(--colony-blue);
}

button.menuIconContainer {
  position: absolute;
  top: 3px;
  right: -7px;
  vertical-align: bottom;
  border-radius: var(--radius-normal);
}

.menuIconContainer:hover, .menuIconContainer.menuActive {
  background-color: color-mod(var(--colony-blue) alpha(10%));
}

.colonyJoinBtn {
  composes: flexItemCenter from '~styles/layout.css';
  display: block;
  padding: 10px 12px;
  width: auto;
  border: 0;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--colony-blue) alpha(12%));
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  text-align: center;
  line-height: var(--size-small);
  color: var(--colony-blue);
  cursor: pointer;
  outline: 0;
  transition: all 300ms ease-in-out;
}

.colonyJoinBtn:hover {
  background-color: color-mod(var(--colony-blue) alpha(25%));
  color: var(--colony-blue);
}
