@value query700 from '~styles/queries.css';

.main {
  display: flex;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}

.checkbox {
  height: 18px;
  width: 18px;
  position: relative;
  border: 1px solid var(--primary);
  border-radius: 2px;
  background-color: var(--colony-white);
  box-shadow: 0 0 0 2px color-mod(var(--light-purple) alpha(25%));
  -webkit-appearance: none;
  appearance: none;
}

.checkbox:checked::before {
  display: inline-block;
  height: 80%;
  width: 80%;
  position: absolute;
  right: 1px;
  bottom: 4px;
  content: url('check-mark-primary');
}

.checkbox:checked {
  border: 1px solid var(--primary);
  box-shadow: 0 0 0 2px color-mod(var(--primary) alpha(25%));
}

.checkbox:focus-visible,
.checkbox:focus {
  box-shadow: 0 0 3px 1px var(--primary);
  outline: 0px transparent;
}

/* Theme */

.themeDark .checkbox {
  background-color: var(--dark-grey);
}

/* Direction */

.directionHorizontal {
  display: inline-block;
}

.directionVertical {
  display: block;
}

.checkbox:disabled,
.checkbox[readonly] {
  border-color: var(--text-disabled);
  box-shadow: 0 0 0 2px color-mod(var(--text-disabled) alpha(25%));
  cursor: default;
}

.checkbox[readonly] {
  pointer-events: none;
}

@media screen and query700 {
  .checkbox:checked::before {
    bottom: 5px;
  }
}
