.main {
  @apply inline-block;
}

/* HACK: Just temporary for phosphor transition */
.main svg {
  height: 100%;
  width: 100%;
}

.main[role='button'] {
  @apply cursor-pointer active:outline-none hover:outline-none;
}

.sizeExtraExtraTiny {
  @apply w-[0.625rem] h-[0.625rem];
}

.sizeExtraTiny {
  @apply w-[0.75rem] h-[0.75rem];
}

.sizeTiny {
  @apply w-[0.875rem] h-[0.875rem];
}

.sizeExtraSmall {
  @apply w-[1rem] h-[1rem];
}

.sizeSmall {
  @apply w-[1.125rem] h-[1.125rem];
}

.sizeNormal {
  @apply w-[1.25rem] h-[1.25rem];
}

.sizeMediumSmall {
  @apply w-[1.375rem] h-[1.375rem];
}

/* Yes, this is to raise awareness */
.sizeMediumSmallMediumLargeSmallTinyBigMediumLargeSmall {
  @apply w-[1.5rem] h-[1.5rem];
}

.sizeMedium {
  @apply w-[1.75rem] h-[1.75rem];
}

.sizeBig {
  @apply w-[2rem] h-[2rem];
}

.sizeExtraBig {
  @apply w-[2.125rem] h-[2.125rem];
}

.sizeLargeSmall {
  @apply w-[2.25rem] h-[2.25rem];
}

.sizeLarge {
  @apply w-[2.625rem] h-[2.625rem];
}

.sizeHuge {
  @apply w-[4rem] h-[4rem];
}

.themePrimary {
  @apply inline-block;
}

.themeInvert {
  @apply inline-block;
}
