@value query700 from '~styles/queries.css';

.nameAndColorContainer {
  display: flex;
  align-items: center;
}

.domainName {
  margin-right: 18px;
  width: 100%;
}

@media screen and query700 {
  .nameAndColorContainer > div:nth-child(2) {
    align-self: flex-end;
    padding-bottom: 5px;
  }
}
