node_modules
scripts
postcss.config.js
webpack.*
src/graphql/generated.ts


# Css Type Definitions
# They sometimes get generated way beyond the max-len rule, and can't be manually
# fixed since they'll just get re-generated next time
src/**/*.css.d.ts

# amplify

src/graphql
