@value query700 from "~styles/queries.css";

.transactionsListContainer {
  height: 100%;
  width: 100%;
  overflow: auto;
}

/* The scrollbar itself */
.transactionsListContainer::-webkit-scrollbar {
  width: 7px;
}

/* The container (or track) of the scrollbar */
.transactionsListContainer::-webkit-scrollbar-track {
  width: 0.3125rem;
  background-color: transparent;
}

/* The actual scrollbar handle */
.transactionsListContainer::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--color-gray-100);
}

/* When the scrollbar is being hovered or clicked */
.transactionsListContainer::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-gray-300);
}

@media screen and query700 {
  .transactionsListContainer {
    max-height: 60vh;
  }
}
