.titleDecoration {
  composes: titleDecoration from '~shared/ListItem/ListItem.css';
}

.highlight {
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.userDecoration {
  font-weight: var(--weight-bold);
  color: var(--pink);
}

.voteResultsWrapper {
  margin: 14px 0;
  padding: 17px 23px;
  border: 1px solid var(--text-disabled);
  border-radius: var(--radius-large);
}

.reputation {
  display: inline-block;
  margin-left: 4px;
}
