.li {
  @apply flex items-center justify-between text-gray-900 font-normal text-md leading-5 rounded px-4 ursor-pointer transition-all p-1 py-2 hover:bg-gray-100;
}

.icon {
  @apply text-gray-900 w-[0.8125rem];
}

.iconArrow {
  @apply icon mr-0 ml-[2.5rem];
}

.wrapper {
  @apply flex pt-5 w-full;
}

.container {
  @apply w-full relative;
}

.button {
  @apply w-full px-4 py-3 border border-gray-300 rounded bg-base-white flex justify-between items-center text-md font-normal text-gray-900;
}

.options {
  @apply border-gray-200 hidden;
}

.show {
  @apply block p-4 border border-gray-300 rounded absolute left-0 z-50 bg-base-white w-full;
}
