.main {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.header {
  composes: inlineEllipsis from '~styles/text.css';
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  gap: 5px;
}

.nameAndTime {
  display: flex;
  flex-direction: column;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
}

.userName {
  color: var(--pink);
}

.time {
  color: color-mod(var(--dark) alpha(65%));
}

.title {
  margin-bottom: 15px;
}

.description > h3 {
  font-size: var(--size-medium);
}
