.title {
  display: flex;
  align-items: center;
  font-size: var(--size-normal);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.description {
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--grey-purple);
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--pad-medium) 40px;
  position: relative;
}

.stateDisabled {
  outline: 0;
}

.main:not(.stateDisabled) {
  cursor: pointer;
}

.main::after, .main:hover:not(.stateDisabled)::before {
  height: 1px;
  position: absolute;
  right: 40px;
  bottom: 0;
  left: 40px;
  background-color: color-mod(var(--dark-grey) alpha(15%));
  content: "";
}

.stateDisabled .title,
.stateDisabled .description {
  color: var(--text-disabled);
}

.main:hover:not(.stateDisabled) {
  background-color: var(--colony-light-blue);
}

.main:hover:not(.stateDisabled)::after {
  background-color: var(--colony-light-blue);
}

.main:hover:not(.stateDisabled)::before {
  top: -1px;
  background-color: var(--colony-light-blue);
}

.main:hover:not(.stateDisabled) .title {
  color: var(--colony-blue);
}

.iconCaret svg {
  fill: var(--dark);
  opacity: 0.7;
}

.iconTitle {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.main:hover:not(.stateDisabled) svg {
  fill: var(--colony-blue);
}

.coming {
  margin-left: 8px;
  padding: 2px 8px 0;
  height: 20px;
  border-radius: var(--radius-normal);
  background-color: var(--light-grey-blue);
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--grey-purple);
}

.iconWarning {
  margin-top: -5px;
  padding-left: 15px;
  position: static;
}

.iconWarning svg {
  fill: var(--golden);
  stroke: none;
  cursor: pointer;
}

.main:hover:not(.stateDisabled) .iconWarning svg {
  fill: var(--golden);
  stroke: none;
}

.tooltip {
  max-width: 200px;
}
