@keyframes spin-around {
  0% {
    transform-origin: 50% 50%;
  }

  100% {
    transform: rotate(360deg);
  }
}

.pageLoaderCircle {
  display: block;
  animation: spin-around 1.4s ease-in-out infinite;
}

.colonyIcon {
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
