.main {
  composes: field from '~styles/fields.css';
}

.dropzone {
  padding: 35px;
  border-top: 1px dashed var(--primary);
  border-right: 2px solid var(--light-grey-blue);
  border-bottom: 1px dashed var(--primary);
  border-left: 2px solid var(--light-grey-blue);
  background-color: var(--light-grey-blue);
}

.dropzoneAccept {
  background-color: var(--primary);
}

.dropzoneReject {
  background-color: color-mod(var(--danger) alpha(30%));
}
