@value query850 from "~styles/queries.css";

.main {
  display: block;
  margin-bottom: 32px;
  letter-spacing: 0.5px;
}

.totalBalanceCopy {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
  color: var(--grey-purple);
}

.totalBalanceCopy button {
  outline: 0;
}

@media screen and query850 {
  .main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 14px;
    height: 77px;
    border-bottom: 1px solid var(--light-grey-beige);
  }

  .totalBalanceCopy {
    margin: 0;
    font-size: var(--size-tiny);
  }
}
