@value query700 from "~styles/queries.css";

.main {
  margin: 0 20px 0 0;
  padding: 0 1px;
  height: 26px;
  position: relative;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--grey-purple) alpha(10%));
  font-size: var(--size-smallish);
  line-height: 26px;
}

.gasStationReference + div,
.connectWalletButton {
  margin-right: 25px;
  padding: 4px 9px 5px 9px;
  border: 1px solid var(--grey-purple);
  border-radius: var(--radius-tiny);
  background-color: transparent;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--grey-purple);
  cursor: pointer;
}

.connectWalletButton:hover {
  border-color: transparent;
  background-color: color-mod(var(--grey-purple) alpha(25%));
  color: var(--colony-blue);
}

.connectWalletButtonActive {
  composes: connectWalletButton;
  border-color: transparent;
  background-color: color-mod(var(--grey-purple) alpha(25%));
  color: var(--colony-blue);
}

.connectWalletButtonLoading {
  composes: connectWalletButton;
  display: none;
}

.walletAddress {
  margin: 0;
  padding: 0 9px;
  height: 100%;
  position: relative;
  border: 1px solid transparent;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--grey-purple) alpha(10%));
  color: var(--grey-purple);
  cursor: pointer;
}

.walletAddress > span {
  display: block;
  margin-top: -2px;
}

.walletAddress:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
  color: var(--colony-blue);
}

.walletAddressActive {
  composes: walletAddress;
  border: 1px solid var(--colony-blue);
  color: var(--colony-blue);
}

.walletAutoLogin {
  margin-right: 12px;
  padding: 4px 10px 0;
  height: 26px;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--grey-purple) alpha(10%));
  text-align: center;
}

.walletAutoLogin h4 {
  display: inline-block;
  margin-top: 1px;
  margin-right: 10px;
  vertical-align: top;
  font-size: var(--size-tiny);
}

.readyTransactionsCount {
  padding-top: 2px;
  height: 20px;
  min-width: 20px;
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 50px;
  background-color: var(--pink);
  font-size: var(--size-unreadable);
  font-weight: 600;
  text-align: center;
  color: var(--colony-white);
  box-shadow: 0px 2px 11px var(--drop-shadow);
}

.readyTransactionsCount span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and query700 {
  .connectWalletButton {
    margin-right: 0px;
    width: 120px;
  }

  .walletLoader {
    display: flex;
  }
}
