.rowArrow {
  flex: 1;
}

.content {
  margin-top: 155px;
  width: 340px;
}

.instructions h3 {
  margin-bottom: 28px;
}

.subtitleWithExample {
  margin-bottom: 20px;
}

.learnMore {
  display: flex;
  align-items: baseline;
  margin-top: 15px;
}

.link {
  margin-left: 5px;
  font-size: var(--size-tiny);
}
