@value query428 from "~styles/queries.css";

.hamburgerButton {
  display: none;
}

@media screen and query428 {
  .hamburgerButton {
    display: block;
    padding: 0;
    height: 100%;
    border: 0;
    background: white;
  }

  .activeDropdown {
    background-color: var(--grey-purple);
  }

  li > a {
    font-size: inherit;
    font-weight: inherit;
  }
}
