@value query850 from "~styles/queries.css";

.hamburgerButton {
  display: none;
}

@media screen and query850 {
  .hamburgerButton {
    display: block;
    padding: 0;
    height: 100%;
    border: 0;
    background: white;
  }

  .activeDropdown {
    background-color: var(--grey-purple);
  }
}
