.listWrapper {
  @apply py-2 md:py-0;

  &::after {
    @apply bg-gray-200 mt-2 lg:mt-4 block h-px content-[""] mx-4;
  }
}

.buttonWrapper {
  @apply flex justify-center mt-6 md:mt-8 mx-4;

  & button {
    @apply w-full flex justify-center text-blue-400 font-semibold border-blue-400;
  }
}

.externalLink {
  @apply font-semibold ml-1 text-gray-900 underline underline-offset-2 hover:cursor-pointer;
}
