@value query700 from '~styles/queries.css';

.content {
  margin-top: 17px;
  word-break: break-word;
  grid-area: feed;
}

.heading {
  margin-bottom: 20px;
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  line-height: 24px;
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}

.heading span {
  font-size: var(--size-medium-l);
}

.annotations {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.time {
  color: color-mod(var(--dark) alpha(65%));
}

@media screen and query700 {
  .content {
    width: 100%;
  }
}
