.main {
  max-width: 460px;
  word-wrap: break-word;
}

.inputFieldSet {
  max-width: 360px;
}

.usernameContainer {
  composes: inlineEllipsis from '~styles/text.css';
  margin: 15px 0;
}

.save button {
  width: fit-content;
}
