@value query700 from '~styles/queries.css';

.metaDesc {
  margin-top: 14px;
  max-width: 460px;
}

.toggleContainer {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.toggleContainer label {
  margin-right: 14px;
}

.tooltipContainer {
  margin-left: 13px;
  cursor: pointer;
}

.tooltipContent {
  padding: 10px;
  width: 218px;
}

.link {
  margin-left: 10px;
  font-size: var(--size-small);
  color: var(--colony-blue);
}

.descriptions {
  margin-top: 14px;
  font-size: var(--size-normal);
  color: var(--dark);
}

@media screen and query700 {
  .toggleContainer {
    justify-content: space-between;
  }
}
