.main {
  composes: main from './UserMainSettings.css';
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.learnMoreLink {
  margin-left: 10px;
  font-size: var(--size-small);
  color: var(--colony-blue);
}
