.singleUserContainer label {
  margin-bottom: 15px;
  color: var(--dark);
}

.singleUserContainer > div {
  padding-left: 0;
}

.warningContainer {
  margin-top: 20px;
  padding: 20px 15px;
  border-radius: var(--radius-normal);
  background-color: rgba(var(--danger), 0.15);
}

.warningText {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  line-height: 18px;
  color: var(--dark);
}

.warningLabel {
  color: var(--danger);
}
