.inputContainer {
  margin-bottom: 20px;
  width: 320px;
  position: relative;
}

.inputContainer label {
  margin-top: -20px;
  height: auto;
  width: auto;
  font-size: var(--size-smallish);
  color: var(--dark);
  clip: auto;
}

.inputContainer input {
  padding-right: 30px;
  font-weight: var(--weight-normal);
  color: var(--dark);
}

.inputContainer button {
  right: initial;
  left: -6px;
}

.percentageSign {
  position: absolute;
  top: 6px;
  right: 0;
  font-size: var(--size-medium);
  color: var(--dark);
}

.inputText {
  margin-top: 5px;
  float: right;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--grey-purple);
}

@media screen and query850 {
  .percentageSign {
    /*
     * Negative margin maintains the container above the input
     * instead of to the side, same as on desktop.
     */
    margin-left: -28px;
    padding-top: 38px;
    position: static;
  }

  .inputText {
    margin-top: 0;
    padding-top: 5px;
    float: none;
    text-align: right;
  }

  .inputContainer {
    width: auto;
    column-gap: 6px;
  }

  .inputContainer > div {
    display: flex;
    column-gap: 5px;
  }

  .inputContainer div > p {
    justify-content: flex-end;
    text-align: right;
  }

  .inputContainer > div > div:first-child {
    flex: 1;
  }

  .inputContainer label {
    margin-top: 0px;
    position: static;
  }

  .inputContainer label span {
    display: inline-block;
    min-height: 34px;
  }

  .inputContainer input {
    padding-right: 28px;
  }
}
