.permissionsWarning {
  padding: 20px;
  border-radius: var(--radius-normal);
  background-color: color-mod(var(--danger) alpha(5%));
}

.warningTitle {
  margin-bottom: 20px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--danger);
}

.warningDescription {
  margin-bottom: 20px;
}

.warningDescription:last-child {
  margin-bottom: 0;
}

.warningTitle > div, .warningDescription > div {
  vertical-align: top;
}

.highlightInstruction {
  font-weight: var(--weight-bold);
  color: var(--dark);
}
