@value marginSize: 16px;
@value wideButton: 160px;

.tokenChoiceContainer {
  padding-left: 2px;
  max-height: 250px;
  position: relative;
  overflow: auto;
  border-bottom: 1px solid color-mod(var(--grey-purple) alpha(15%));
}

.description {
  margin-top: 20px;
  margin-bottom: marginSize;
  font-size: var(--size-normal);
  color: var(--dark);
}

.textarea {
  margin-top: calc(marginSize * 2);
}
