.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 18px;
  color: color-mod(var(--grey-purple) alpha(85%));
  column-gap: 10px;
}

.value {
  composes: inlineEllipsis from '~styles/text.css';
  display: flex;
  align-items: center;
  max-width: 200px;
  line-height: 18px;
  color: color-mod(var(--dark) alpha(85%));
}

.value i {
  display: inline-block;
}

.value,
.label {
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  letter-spacing: var(--spacing-medium);
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 45px;
  border-bottom: 1px solid color-mod(var(--grey-purple) alpha(15%));
}

.tooltip {
  width: 220px;
}
