@import 'variables.css';
@import 'fonts.css';
@import 'react-popper-tooltip/dist/styles.css';
@import 'react-tabs/style/react-tabs.css';
@import 'react-tabs-scrollable/dist/rts.css';
@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shine {
  to {
    background-position: right -2.5rem top 0;
  }
}

iframe {
  @apply overflow-hidden;
}

.rts___tabs {
  @apply py-0;
}

.rts___tab {
  @apply relative ml-0 mr-6 inline-flex cursor-pointer items-center justify-center gap-1 rounded-none border-0 border-b border-transparent px-0 pb-2 pt-0 text-md font-medium shadow-none transition-colors duration-normal last:mr-0 md:hover:text-blue-400;
}

.rts___tab___selected {
  @apply border-blue-400 bg-transparent text-blue-400 shadow-none;
}

.rts___nav___btn:hover {
  @apply bg-gray-300;
}

button:disabled.rts___btn,
.rts___nav___btn:disabled,
button[disabled].rts___btn {
  @apply opacity-0;
}

.rts___nav___btn > svg {
  @apply w-[0.75rem];
}

.rts___nav___btn:hover > svg {
  @apply stroke-none;
}

.tooltip-container {
  @apply text-gray-900;
}

body.ReactModal__Body--open .modal-blur {
  @apply blur-[0.125rem];
}

body.ReactModal__Body--open:not(.show-header-in-modal) .modal-blur-navigation {
  @apply blur-[0.125rem];
}

:root {
  --onboard-connect-sidebar-background: var(--color-gray-200);
  --onboard-main-scroll-container-background: var(--color-base-white);
  --onboard-connect-sidebar-color: var(--color-gray-900);
  --onboard-modal-border-radius: 0.5rem;
  --onboard-modal-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  --onboard-wallet-app-icon-border-color: transparent;
  --onboard-wallet-button-background: var(--color-gray-25);
  --onboard-connect-header-color: var(--color-gray-900);
  --onboard-wallet-button-color: var(--color-gray-900);
  --onboard-wallet-button-color-hover: var(--color-gray-900);
  --onboard-wallet-button-background-hover: var(--color-blue-100);
  --onboard-wallet-button-border-color: var(--color-gray-100);
  --onboard-wallet-button-box-shadow-hover: 0px 0px 0px 1px
    var(--color-blue-400);
  --onboard-wallet-button-border-radius: 0.25rem;
  --onboard-close-button-color: transparent;
  --onboard-close-button-background: transparent;
  --onboard-connect-sidebar-progress-background: transparent;
  --onboard-connect-sidebar-progress-color: transparent;
  --onboard-wallet-columns: 1;
  --onboard-font-family-normal: Inter, sans-serif;
  --onboard-gray-100: var(--color-gray-100);
  --onboard-gray-200: var(--color-gray-200);
  --onboard-gray-300: var(--color-gray-300);
  --onboard-gray-400: var(--color-gray-400);
  --onboard-gray-500: var(--color-gray-500);
  --onboard-gray-600: var(--color-gray-600);
  --onboard-gray-700: var(--color-gray-700);
  --onboard-success-100: var(--color-success-100);
  --onboard-success-200: var(--color-success-200);
  --onboard-success-300: var(--color-success-400);
  --onboard-success-400: var(--color-success-400);
  --onboard-success-500: var(--color-success-400);
  --onboard-success-600: var(--color-success-400);
  --onboard-success-700: var(--color-success-400);
  --onboard-white: var(--color-base-white);
  --onboard-black: var(--color-base-black);
  --onboard-shadow-2: transparent;
  --onboard-modal-z-index: 9999;
}
