@import 'variables.css';
@import 'fonts.css';
@import 'react-popper-tooltip/dist/styles.css';
@import 'react-tabs/style/react-tabs.css';
@import 'react-tabs-scrollable/dist/rts.css';
@import 'react-toastify/dist/ReactToastify.css';

@tailwind base;
@tailwind components;
@tailwind utilities;
@value query850 from '~styles/queries.css';
@value query1024 from '~styles/queries.css';

@keyframes shine {
  to {
    background-position: right -2.5rem top 0;
  }
}

@layer base {
  :root {
    --top-content-height: 0px;
  }

  html {
    @apply font-inter text-lg text-gray-900 min-h-full h-auto antialiased;
  }

  body {
    @apply min-h-screen bg-base-white overflow-x-hidden;
  }

  svg:not([class]) {
    @apply fill-current stroke-none;
  }

  #root {
    @apply min-h-screen;
  }

  button {
    text-decoration: inherit;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    @apply m-0;

    -webkit-appearance: none;
  }

  /* hide arrows for Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  ::-webkit-scrollbar {
    @apply w-[.4375rem];
  }

  ::-webkit-scrollbar-track {
    @apply w-[.3125rem] bg-transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-md bg-gray-100 transition-all md:hover:bg-gray-300;
  }
}

@layer utilities {
  .heading-1 {
    @apply text-4xl font-semibold;
  }

  .heading-2 {
    @apply text-3xl font-semibold;
  }

  .heading-3 {
    @apply font-semibold text-2xl;
  }

  .heading-4 {
    @apply text-xl font-semibold;
  }

  .heading-5 {
    @apply text-lg font-semibold;
  }

  .text-1 {
    @apply text-md font-medium;
  }

  .text-2 {
    @apply text-md font-semibold;
  }

  .text-3 {
    @apply text-sm font-medium;
  }

  .text-4 {
    @apply text-xs font-medium;
  }

  .text-5 {
    @apply text-xs font-semibold;
  }

  .text-6 {
    @apply font-bold text-xs;
  }

  .description-1 {
    @apply text-sm text-gray-700;
  }

  .skeleton {
    position: relative;
    pointer-events: none;
  }

  .skeleton::before {
    @apply absolute -top-px -bottom-px -left-px -right-px content-[""] z-10 bg-gray-200 bg-no-repeat min-h-[1em];

    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0)
    );
    background-size: 2.5rem 100%;
    background-position: left -2.5rem top 0;
    animation: shine 1.125s ease infinite;
  }

  .break-word {
    word-break: break-word;
  }

  .line-clamp-1 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-clamp: 1;
  }

  .line-clamp-2 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
  }

  .line-clamp-3 {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
  }
}

@layer components {
  .inner {
    @apply px-6 w-full max-w-[77.375rem] mx-auto;
  }

  .navigation-link {
    @apply text-gray-700 w-full flex items-center !duration-0 heading-5 hover:!text-gray-900 hover:font-medium px-4 py-2 sm:font-normal sm:text-md sm:text-gray-900;
  }

  .subnav-button {
    @apply flex w-full items-center text-md transition-colors duration-normal text-gray-900 sm:hover:bg-gray-50 sm:hover:font-medium rounded py-2 px-3.5;
  }

  .input-round {
    @apply bg-base-white rounded border py-3 px-3.5;
  }

  .input {
    @apply w-full text-gray-900 text-md outline-0 placeholder:text-gray-400 outline-none;
  }

  .selectButton {
    @apply outline-blue-100 outline outline-[0.1875rem] border-blue-200;
  }

  .divider {
    @apply w-full border border-gray-200;
  }
}

.rts___tabs {
  @apply py-0;
}

.rts___tab {
  @apply shadow-none border-0 relative inline-flex items-center justify-center px-0 py-2 text-md font-medium cursor-pointer border-b border-transparent transition-colors duration-normal ml-0 mr-6 last:mr-0 md:hover:text-blue-400 rounded-none gap-1;
}

.rts___tab___selected {
  @apply shadow-none text-blue-400 border-blue-400;
}

.rts___nav___btn:hover {
  @apply bg-gray-300;
}

button:disabled.rts___btn,
.rts___nav___btn:disabled,
button[disabled].rts___btn {
  @apply opacity-0;
}

.rts___nav___btn > svg {
  @apply w-[0.75rem];
}

.rts___nav___btn:hover > svg {
  @apply stroke-none;
}

.tooltip-container {
  @apply text-gray-900;
}

body.ReactModal__Body--open > #root {
  @apply blur-[0.125rem];
}

:root {
  --onboard-connect-sidebar-background: var(--color-gray-200);
  --onboard-connect-sidebar-color: var(--color-gray-900);
  --onboard-modal-border-radius: 0.5rem;
  --onboard-modal-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
  --onboard-wallet-app-icon-border-color: transparent;
  --onboard-wallet-button-background: var(--color-gray-25);
  --onboard-wallet-button-background-hover: var(--color-blue-100);
  --onboard-wallet-button-border-color: var(--color-gray-100);
  --onboard-wallet-button-box-shadow-hover: 0px 0px 0px 1px
    var(--color-blue-400);
  --onboard-wallet-button-border-radius: 0.25rem;
  --onboard-close-button-color: transparent;
  --onboard-close-button-background: transparent;
  --onboard-connect-sidebar-progress-background: transparent;
  --onboard-connect-sidebar-progress-color: transparent;
  --onboard-wallet-columns: 1;
  --onboard-font-family-normal: Inter, sans-serif;
  --onboard-gray-100: var(--color-gray-100);
  --onboard-gray-200: var(--color-gray-200);
  --onboard-gray-300: var(--color-gray-300);
  --onboard-gray-400: var(--color-gray-400);
  --onboard-gray-500: var(--color-gray-500);
  --onboard-gray-600: var(--color-gray-600);
  --onboard-gray-700: var(--color-gray-700);
  --onboard-success-100: var(--color-success-100);
  --onboard-success-200: var(--color-success-200);
  --onboard-success-300: var(--color-success-400);
  --onboard-success-400: var(--color-success-400);
  --onboard-success-500: var(--color-success-400);
  --onboard-success-600: var(--color-success-400);
  --onboard-success-700: var(--color-success-400);
  --onboard-white: var(--color-base-white);
  --onboard-black: var(--color-base-black);
  --onboard-shadow-2: transparent;
  --onboard-modal-z-index: 9999;
}
