/* !!! REMOVED --secondary: rgb(0, 230, 196) & replaced with primary; used only in `FileUpload`,
     it seems more logical to use primary anyway, as it's consistent with all other input fields */

/* !!! REMOVED --action-secondary: rgb(76, 93, 255), replaced with colony-blue */

/* !!! REMOVED --violet: rgb(89, 100, 240), replaced with colony-blue
  it was used only in `PayoutsList`, and that is not used anywhere for now */

/* !!! REMOVED --grey-darkrgb(47, 47, 47), replaced with --dark; not used in many places */

/* !!! REMOVED temp-grey-0: rgb(195, 204, 205), replaced with --text-disabled; almost identical */

/* !!! REMOVED --grey-3: rgb(82, 84, 85), replaced with --dark, not used much, looks similar */

/* !!! REMOVED
    --grey-2: rgb(54, 54, 54);
    --temp-grey-2: rgb(46, 50, 53);
    --temp-grey-8: rgb(52, 55, 56);
    replaced with --dark-grey, not used that much, looks very similar */

/* !!! REMOVED
    --temp-grey-11: rgb(136, 136, 136);
    --temp-grey-4: rgb(153, 153, 153);
    replaced with --dark-grey, not used that much, looks very similar */

/* !!! REMOVED
  --grey-blue-0: rgb(232, 232, 232);
  --grey-blue-1: rgb(232, 236, 245);
  --grey-blue-2: rgb(244, 246, 250);
  replaced with --light-grey-blue which is combination of all 3 of them (via Raul's function) */

/* !!! REMOVED --grey-5: rgb(173, 186, 189), replaced with --text-disabled, not used that much, looks similar */

/* !!! REMOVED --temp-grey-blue-8: rgb(238, 242, 245), replaced with --colony-light-blue, duplicate */

/* !!! REMOVED --temp-grey-6: rgb(220, 226, 227), not used anywhere */

/* !!! REMOVED --temp-grey-blue-2: rgb(209, 214, 215), replaced with --temp-grey-5, almost the same */

/* !!! REMOVED --temp-grey-blue-1: rgb(242, 246, 246), not used anywhere */

/* !!! REMOVED  --temp-grey-blue-3: rgb(251, 252, 253), not used anywhere */

/* !!! REMOVED  --temp-grey-blue-12: rgb(152, 164, 193), only found it in an unused class in Members.css */

:root {
  --primary: rgb(104, 210, 210); /* curreny colony primary */
  --colony-white: rgb(251, 251, 251);
  --colony-black: rgb(31, 35, 39);
  --colony-blue: rgb(79, 93, 255);
  --dark-blue: rgb(69, 85, 230);
  --sky-blue: rgb(90, 145, 255);
  --danger: rgb(248, 43, 101); /* user mentions color */
  --pink: rgb(254, 94, 124);
  --golden: rgba(255, 176, 0); /* Think pending states (golden yellow) */
  --dark: rgb(60, 68, 77); /* Used for colony name display (colony simplified) */
  --text-disabled: rgb(194, 204, 204);
  --colony-light-blue: rgb(238, 242, 245);
  --light-grey-blue: rgb(236, 238, 242);
  --drop-shadow: rgba(62, 118, 244, 0.14);

  /* Remane `--grey-1` to `--dark-grey` */
  --dark-grey: rgb(58, 58, 58);

  /* Remane `--grey-4` to `--grey` */
  --grey: rgb(124, 124, 124);

  /* Remane `--grey-blue-3` to `--grey-navbar`, potentially to be removed as used only for navbar */
  --grey-navbar: rgb(246, 246, 246);

  /* Remane `--temp-grey-blue-5` to `--light-grey-pink` */
  --light-grey-pink: rgb(244, 238, 242); /* Used for user profile gradient start color */

  /* Remane `--temp-grey-blue-6` to `--light-ash` */
  --light-ash: rgb(231, 242, 246); /* Used for user profile gradient end color */

  /* Remane `--temp-grey-blue-4` to `--light-purple` */
  --light-purple: rgb(200, 214, 247); /* Used for some box shadows */

  /* Remane `--temp-grey-blue-7` to `--grey-purple` */
  --grey-purple: rgb(118, 116, 139); /* Used for the wallet connect button in the user navigation */

  /* Remane `--temp-grey-blue-1` to `--grey-blue` */
  --grey-blue: rgb(188, 197, 216);

  /* Remane `--temp-grey-5` to `--light-grey` */
  --light-grey: rgb(213, 213, 213);

  /* Remane `--temp-grey-13` to `--light-grey-beige` */
  --temp-grey-13: rgb(227, 224, 227); /* Used for separator background */


  /*
   * Gradients
   */

  --gradient-default: linear-gradient(to bottom, var(--light-grey-pink) 0%, var(--light-ash) 100%);

  /*
   * Box Shadows
   */
  --box-shadow-medium: 0px 2px 11px var(--drop-shadow);
  --box-shadow-grey-blue-large: 0 0 20px -2px var(--light-purple);

  /*
   * Radius
   */
  --radius-tiny: 2px;
  --radius-small: 3px;
  --radius-normal: 4px;
  --radius-large: 6px;

  /*
   * Paddings
   */
  --pad-tiny: 3px;
  --pad-small: 6px;
  --pad-medium: 12px;
  --pad-large: 24px;
  --pad-huge: 48px;

  /*
  * Z-Index values
  */
  --z-index-background: -1;
  --z-index-selection: 0;
  --z-index-positioning: 1; /* z-index for absolute positioning in elements */
  --z-index-nav: 2;
  --z-index-modal-overlay: 3;
  --z-index-modal: 4;
  --z-index-dialog: 5;
  --z-index-popover: 6;
  --z-index-notification: 7;
  --z-index-alert: 8;

  /*
   * Fonts
   */
  --family-primary: "MuliWeb", sans-serif;

  /* replace color-mod(var(--grey-dark) alpha(70%)) with below */
  --text: color-mod(var(--dark) alpha(80%));
  --text-dark: var(--colony-black);
  --text-invert: var(--colony-white);
  --weight-normal: 400;
  --weight-bold: 700;
  --size-unreadable: 10px;
  --size-tiny: 11px;
  --size-small: 12px;
  --size-smallish: 13px; /* This shows up more and more in Colony Simplified */
  --size-normal: 14px;
  --size-medium: 16px;
  --size-medium-l: 18px;
  --size-large: 28px;
  --size-huge: 36px;
  --spacing-normal: 0.25px;
  --spacing-medium: 0.5px;

  /**
   * @NOTE Weight medium and semi bold is only available on the techie font family
   */
  --family-monospace: "Source Code Pro", "Monaco", "Inconsolata", monospace;
  --family-techie: "IBM Plex Mono", sans-serif;
  --weight-medium: 500;

  /*
   * Media queries
   */
  @custom-media --viewport-desktop-large screen and (min-width: 1440px);
}
