name: colony-cdapp-dev-env
services:
  network-contracts:
    container_name: 'network'
    image: colony-cdapp-dev-env/network:latest
    volumes:
      - '../amplify/mock-data:/colonyCDapp/amplify/mock-data'
    ports:
      - '8545:8545'
      - '3002:3002'
      - '3004:3004'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:3002']
      interval: 5s
      retries: 1000

  reputation-monitor:
    container_name: 'monitor'
    image: colony-cdapp-dev-env/reputation-monitor:latest
    volumes:
      - '../amplify/mock-data:/colonyCDapp/amplify/mock-data'
    ports:
      - '3001:3001'
    depends_on:
      network-contracts:
        condition: service_healthy

  block-ingestor:
    container_name: 'ingestor'
    image: colony-cdapp-dev-env/block-ingestor:latest
    volumes:
      - '../amplify/mock-data:/colonyCDapp/amplify/mock-data'
    ports:
      - '10001:10001'
    depends_on:
      network-contracts:
        condition: service_healthy
      amplify:
        condition: service_healthy

  amplify:
    container_name: 'amplify'
    image: colony-cdapp-dev-env/amplify:latest
    volumes:
      - '../amplify/backend:/colonyCDapp/amplify/backend'
      - '../amplify/mock-data:/colonyCDapp/amplify/mock-data'
    depends_on:
      safe-contracts:
        condition: service_healthy
    tty: true
    environment:
      DEBUG_COLORS: 'true'
      TERM: xterm-256color
      COLORTERM: truecolor
    ports:
      - '20002:20002'
      - '9200:9200'
    userns_mode: 'keep-id'
    healthcheck:
      test: ['CMD', 'curl', '-f', 'http://localhost:9200']
      interval: 5s
      retries: 1000

  safe-contracts:
    container_name: 'safe'
    image: colony-cdapp-dev-env/safe:latest
    deploy:
      replicas: ${SAFE_REPLICAS:-1}
    volumes:
      - '../amplify/mock-data:/colonyCDapp/amplify/mock-data'
    ports:
      - '8546:8546'
    healthcheck:
      test:
        [
          'CMD',
          'curl',
          '-X',
          'POST',
          '--data',
          '{"jsonrpc":"2.0","method":"eth_blockNumber","params":[],"id":1}',
          'http://localhost:8546',
        ]
      interval: 5s
      retries: 1000
    depends_on:
      network-contracts:
        condition: service_healthy

  auth-proxy:
    container_name: 'auth'
    image: colony-cdapp-dev-env/auth-proxy:latest
    ports:
      - '3005:3005'
    depends_on:
      amplify:
        condition: service_healthy
