@value query428 from '~styles/queries.css';

.container {
  display: flex;
  justify-content: flex-end;
  padding-right: 44px;
  gap: 105px;
}

@media screen and query428 {
  .container {
    padding-right: 0;
    gap: 8px;
  }
}
