.overlay {
  @apply flex justify-center items-center fixed top-0 left-0 right-0 bottom-0 z-[999] overflow-hidden bg-base-sprite bg-opacity-[50%];
}

.modal {
  @apply relative outline-0 overflow-hidden bg-base-white md:h-auto md:max-h-[calc(100vh-4rem)] md:w-[30.3125rem] md:border md:border-gray-200 md:rounded-xl shadow-default flex flex-col w-full;
}

.inner {
  @apply flex flex-col w-full flex-grow overflow-y-auto max-h-[calc(100vh-4rem-1rem)] md:max-h-[calc(100vh-4rem-4rem-1rem)];

  -webkit-overflow-scrolling: touch;
}

.icon {
  @apply flex items-center justify-center w-[2.5rem] h-[2.5rem] rounded border shadow-content mb-4;
}

.closeIcon {
  @apply text-gray-400 hover:text-gray-600 absolute top-4 right-4;
}
