.warning {
  display: flex;
  justify-content: center;
  padding: 14px;
  border-radius: 5px;
  background-color: color-mod(var(--golden) alpha(15%));
  line-height: 18px;
  color: var(--dark);
  column-gap: 5px;
}

.warning span {
  font-weight: var(--weight-bold);
  color: var(--pink);
}

.warningIcon {
  margin-right: 5px;
  height: 18px;
  width: 18px;
  fill: var(--golden);
}

.moduleLinkSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  border: none;
}

.info {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.moduleLabel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  font-size: var(--size-smallish);
  font-weight: var(--weight-bold);
  color: var(--dark);
}

.learnMoreLink {
  margin-right: 4px;
  position: relative;
  top: 1px;
}

.moduleContractAddressContainer {
  margin-top: 10px;
  padding-top: 20px;
  border-top: 1px solid color-mod(var(--grey-purple) alpha(15%));
}

.moduleAddressSubtitle {
  margin-bottom: 10px;
}
