.panelRow {
  @apply flex items-center min-h-[1.875rem] gap-x-4;
}

.panelTitle {
  @apply font-normal text-sm text-gray-600 w-[calc(50%-1rem)] shrink-0;
}

.panelData {
  @apply font-normal text-md justify-start;
}
