@value query428 from "~styles/queries.css";

.manageFundsLink {
  color: var(--colony-blue);
}

.rightArrowDisplay {
  display: inline-block;
  margin: 0 7px 1px 15px;
  height: 15px;
  width: 15px;
  vertical-align: bottom;
  font-weight: var(--weight-bold);
  color: var(--colony-blue);
}

@media screen and query428 {
  .manageFundsLink {
    display: flex;
    align-items: center;
    font-size: var(--size-smallish);
  }
}
