.tokenIcon {
  margin-right: 6px;
}

.range {
  display: inline-block;
  margin: -2px 5px 0;
  height: 1px;
  width: 30px;
  position: relative;
  vertical-align: middle;
  background: linear-gradient(90deg, var(--pink) 4.65%, var(--primary) 101.16%);
}

.range::before,
.range::after {
  display: block;
  height: 5px;
  width: 5px;
  position: absolute;
  top: -2px;
  border-radius: 50%;
}

.range::before {
  left: 0;
  background-color: var(--pink);
}

.range::after {
  right: 0;
  background-color: var(--primary);
}
