.main {
  composes: stretchVertical stretchHorizontal from '~styles/layout.css';
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
  background-color: var(--color-base-white);
}

.mainContent {
  margin-top: 160px;
  padding-bottom: var(--pad-large);
  text-align: center;
}
