@value query428 from '~styles/queries.css';

.colonyAddress {
  padding: 4px 6px;
  height: 24px;
  border-radius: var(--radius-normal);
  text-align: center;
  line-height: var(--size-smallish);
  color: var(--grey-purple);
  cursor: pointer;
  user-select: none;
  outline: 0;
}

.colonyAddress:hover {
  background-color: color-mod(var(--colony-blue) alpha(10%));
  color: var(--colony-blue);
}

@media screen and query428 {
  .colonyAddress {
    padding-left: 0px;
  }
}
