/*
 * @NOTE Unique values
 */
@value tokenDisplaySymbolFontSize: 18px;
@value tokenDisplayFontWeight: 300;

@value query700 from "~styles/queries.css";

.selectedToken {
  color: var(--dark);
}

.selectedTokenAmount {
  font-size: var(--size-huge);
  font-weight: tokenDisplayFontWeight;
}

.selectedTokenSymbol {
  composes: button from '~styles/reset.css';
  display: inline-flex;
  align-items: center;
  margin-left: 13px;
  font-size: tokenDisplaySymbolFontSize;
  font-weight: var(--weight-normal);
  line-height: tokenDisplaySymbolFontSize;
  letter-spacing: 0.25px;
  cursor: pointer;
  user-select: none;
}

.selectedTokenSymbol:hover {
  color: var(--colony-blue);
  fill: var(--colony-blue);
}

@media screen and query700 {
  .selectedTokenAmount {
    font-size: 24px;
    line-height: 1;
  }
}
