.tokenLockWrapper {
  display: block;
  margin-left: 5px;
  margin-top: 1px;
  position: relative;
}

.tokenLockWrapper svg {
  fill: var(--dark);
}

.tokenLockWrapper:hover svg {
  fill: var(--colony-blue);
}
