.container {
  @apply w-full relative;
}

.button {
  @apply w-full px-4 py-3 rounded bg-base-white flex justify-between items-center text-md font-normal transition-all duration-normal;
}

.options {
  @apply border-gray-200 hidden;
}

.show {
  @apply flex flex-col py-2 px-[0.875rem] border border-gray-300 rounded absolute left-0 z-50 bg-base-white w-full mt-1;
}

.li {
  @apply flex items-center justify-between font-normal text-md leading-5 rounded cursor-pointer transition-all duration-normal hover:text-blue-400 py-2;
}

.icon {
  @apply w-[0.8125rem];
}
