.wrapper {
  @apply relative flex justify-end text-md after:transition-all after:duration-normal after:block after:content-[""] after:border-[0.1875rem] after:border-transparent after:absolute after:-top-[0.1875rem] after:-left-[0.1875rem] after:w-[calc(100%+0.1875rem+0.1875rem)] after:h-[calc(100%+0.1875rem+0.1875rem)] after:rounded-lg;
}

.field {
  @apply z-[1] pl-3.5 pr-3 py-3 transition-all duration-normal min-w-[2.375rem] max-w-[4.125rem] text-gray-600 rounded-r border rounded-l-none text-center;
}

.input {
  @apply z-[1] px-3.5 py-3 transition-colors duration-normal w-[3.75rem] rounded-l border rounded-r-none shrink-0 -mr-px;
}
