.transactionHeading {
  display: flex;
  align-items: center;
  padding: 16px 32px 16px 20px;
  height: 52px;
  border-bottom: 1px solid color-mod(var(--action-secondary) alpha(12%));
  background-color: color-mod(var(--action-secondary) alpha(6%));
}

.transactionHeading h4 {
  margin-right: auto;
}

.transactionHeadingOpen .toggleTabIcon {
  transform: none;
}

.tabButton {
  display: flex;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.toggleTabIcon {
  width: 10px;
  fill: var(--dark);
  transform: rotate(180deg);
}
