.rowName {
  @apply text-md min-w-[2.875rem];
}

.row {
  @apply flex justify-between font-medium;
}

.numeral {
  @apply font-medium ml-1;
}

.icon {
  @apply text-blue-400 w-[0.875rem] mr-1;
}

.reputationValue {
  @apply text-blue-400 mt-px;
}
