.wrapper {
  @apply relative w-full after:transition-all after:duration-normal after:block after:content-[""] after:border-[0.1875rem] after:border-transparent after:absolute after:-top-[0.1875rem] after:-left-[0.1875rem] after:w-[calc(100%+0.375rem)] after:h-[calc(100%+0.375rem)] after:rounded-[0.7rem] hover:after:border-blue-100;
}

.radioButtonLabel {
  @apply z-[1] transition-all duration-normal text-md min-h-[2.75rem] rounded-lg flex flex-col relative justify-center cursor-pointer border pl-[3.25rem] pr-6 py-3 before:absolute before:w-[1rem] before:h-[1rem] before:rounded-full before:border before:border-gray-200 before:left-6 before:transition-all before:duration-normal after:absolute after:translate-x-[calc(50%+1px)] after:translate-y-[calc(50%+1px)] after:left-6 after:w-[0.4375rem] after:h-[0.4375rem] after:rounded-full after:bg-blue-400 after:transition-all after:duration-normal after:opacity-0 hover:border-blue-200;
}

.label {
  @apply block;
}

.description {
  @apply block mt-1 text-gray-600 text-sm;
}
