@value query700 from "~styles/queries.css";

.main {
  display: block;
}

.emptyState {
  margin-top: 30px;
}

.loadingSpinner {
  margin-top: 100px;
}

@media screen and query700 {
  .main {
    padding: 0 14px 60px;
  }
}
