.baseStar {
  composes: sizeTiny themePrimary from '~core/Icon/Icon.css';

  & + .baseStar {
    margin-left: 3px;
  }
}

.ratingStarSelected {
  composes: baseStar;
}

.ratingStarUnselected {
  composes: baseStar;

  & svg {
    fill: var(--grey-blue);
    stroke: var(--grey-blue);
  }
}
