.listWrapper {
  @apply py-2 md:py-0;

  &::after {
    @apply bg-gray-200 mt-2 lg:mt-4 block h-px content-[""] mx-4;
  }
}

.buttonWrapper {
  @apply flex justify-center mt-6 md:mt-8 mx-4;

  & button {
    @apply w-full flex justify-center text-blue-400 font-semibold border-blue-400;
  }
}

.infoWrapper {
  @apply mt-6 md:mt-8 mb-4 text-sm flex justify-center font-normal items-center;
}

.questionIcon {
  @apply mr-2;

  & svg {
    display: block;
    height: 14px;
    width: 14px;
    background-color: white;
    stroke: none;
  }
}
