.toggle::after {
  @apply absolute top-0.5 left-0.5 bg-base-white rounded-full h-4 w-4 transition shadow-sm;

  content: '';
}

input:checked + .toggle::after {
  transform: translateX(100%);
}

input:checked + .toggle {
  @apply bg-gray-900 border-gray-900;
}
