@import 'react-responsive-carousel/lib/styles/carousel.min.css';
@import 'react-popper-tooltip/dist/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@value query700 from '~styles/queries.css';

@layer base {
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

  html {
    @apply font-inter text-lg text-gray-600 h-full antialiased;
  }

  body {
    @apply h-full overflow-hidden;
  }

  svg:not([class]) {
    fill: currentColor;
  }

  #root {
    height: 100%;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  .heading-1 {
    @apply text-4xl font-semibold;
  }

  .heading-2 {
    @apply text-3xl font-semibold;
  }

  .heading-3 {
    @apply text-2xl font-semibold;
  }

  .heading-4 {
    @apply text-xl font-semibold;
  }
}

@layer components {
  .inner {
    @apply px-6 w-full h-full max-w-[77.375rem] mx-auto;
  }
}

@media screen and query700 {
  html {
    background-color: white;
  }
}

.carouselWrapper [class~='carousel'] {
  @apply relative overflow-visible;
}

.carouselWrapper [class~='carousel-slider'],
.carouselWrapper [class~='slider-wrapper'] {
  @apply w-[33.5rem];
}

.carouselWrapper [class~='control-dots'] {
  @apply bottom-[-2.5rem] overflow-visible;
}

.carouselWrapper [class~='carousel control-dots dot selected'] {
  @apply bg-gray-500 opacity-100;
}

.carouselWrapper [class~='dot'] {
  @apply bg-gray-200 opacity-100;
}

.carouselWrapper [class~='slide'] {
  @apply mr-4 h-[15.5rem];
}
