.submitButtonContainer {
  margin-top: 10px;
  margin-bottom: 105px;
  margin-left: auto;
  width: fit-content;
}

.submitButtonContainer > button {
  padding: 2px 35px;
  font-size: var(--size-small);
  font-weight: var(--weight-bold);
}
