@value query850 from '~styles/queries.css';

.main {
  composes: stretchHorizontal from '~styles/layout.css';
}

.mainContentGrid {
  display: flex;
  justify-content: flex-end;
}

.mainContent {
  flex: 1;
  margin-left: 26.5%;
  padding: 90px 0 40px;
}

.rightAside {
  display: flex;
  flex-direction: column;
  padding: 153px 0 20px 85px;
  width: 26.5%;
}

.loadingWrapper {
  margin-left: 60px;
  height: 100%;
  width: calc(100% - 60px);
  position: relative;
}

@media screen and query850 {
  .main {
    height: 100%;
    min-height: 715px;
  }

  .mainContentGrid {
    display: grid;
    margin: 0;
    width: 100%;
    grid-template:
      'joinColony' auto
      'membersSection' auto
      / 1fr;
  }

  .mainContent {
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
    grid-area: membersSection;
  }

  .loadingWrapper {
    margin: 0;
    width: 100%;
  }

  .rightAside {
    display: none;
  }
}
