@value query700 from '~styles/queries.css';

.main {
  height: 100%;
  width: 100%;
}

.dividerTop {
  height: 1px;
  background-color: rgba(var(--grey-purple-1), 0.15);
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.upperContainer {
  align-items: baseline;
}

.heading {
  margin-bottom: 20px;
  font-size: var(--size-medium-l);
  font-weight: var(--weight-bold);
  line-height: 24px;
  color: var(--dark);
  letter-spacing: var(--spacing-medium);
}

.heading span {
  font-size: var(--size-medium-l);
}

.content {
  margin-top: 17px;
  width: 460px;
  word-break: break-word;
}

.tagWrapper {
  margin-bottom: 13px;
}

.details {
  width: 340px;
}

@media screen and query700 {
  .main {
    padding-top: 0px;
  }

  .dividerTop {
    display: none;
  }

  .container {
    flex-direction: column;
    margin: 0;
    padding: 0 14px;
  }

  .content {
    width: 100%;
  }

  .tagWrapper {
    padding-top: 13px;
  }

  .details {
    padding-bottom: 60px;
    width: 100%;
  }
}
