@value query428 from '~styles/queries.css';

.main {
  padding-top: 155px;
  width: 100%;
  width: 460px;
}

.paragraph {
  margin-top: 1.5em;
  font-size: var(--size-normal);
  white-space: pre-wrap;
}

.nameForm {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  row-gap: 10px;
}

.nameForm > div:first-of-type {
  margin-bottom: 5px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.reminder {
  margin-left: 50%;
  max-width: 215px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  line-height: 18px;
}

@media screen and query428 {
  .nameForm > div:first-of-type {
    margin-bottom: 15px;
  }
}
