.emailPermissions {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.emailPermissionsRow {
  display: flex;
  justify-content: space-between;
}

.emailPermissionsRow input + span {
  margin-right: 10px;
}

.tooltip {
  width: 218px;
}
