.tooltipContainer {
  @apply bg-white p-[0.625rem] shadow-default border border-gray-200 rounded-lg;
}

.button {
  @apply text-gray-700 font-semibold text-sm flex;

  & i {
    @apply mr-2;
  }

  &:hover {
    @apply text-blue-400 cursor-pointer;

    & svg {
      @apply fill-blue-400;
    }
  }
}

.activeButton {
  @apply text-blue-400 font-semibold text-sm;

  & svg {
    @apply fill-blue-400;
  }
}

.dropdownContent {
  @apply border border-gray-200 rounded-md mt-4 bg-base-white;

  & a > div {
    @apply flex-wrap;
  }

  & a > div:last-of-type {
    @apply font-normal;
  }
}
