.tooltipContainer {
  @apply bg-white p-[0.625rem] shadow-default border border-gray-200 rounded-lg;
}

.button {
  @apply flex justify-between items-center text-gray-700 font-semibold px-6 py-3 text-lg w-full sm:w-auto sm:hover:text-blue-400;
}

.activeButton {
  @apply text-blue-400;
}

.dropdownContent {
  @apply border border-gray-200 rounded-md bg-base-white mx-6 mb-3 sm:mx-0 sm:mb-0;
}
