.tooltipContainer {
  @apply text-base-white z-[9999] relative text-sm bg-white shadow-default border border-gray-200 rounded-lg overflow-y-scroll max-h-[36rem] min-w-[20.5rem];

  &::-webkit-scrollbar {
    @apply hidden;
  }
}

.button {
  @apply text-gray-700 font-semibold text-md flex hover:text-blue-400;
}

.activeButton {
  @apply text-blue-400 font-semibold;
}
