.baseStyles {
  min-width: 200px;
}

.baseStyles a {
  display: block;
}

/* themes */
.main {
  composes: baseStyles;
  color: var(--dark);
}

.main a:hover, .main button:hover {
  background-color: var(--light-grey-blue);
  color: var(--dark-grey);
}

.themeDark {
  composes: baseStyles;
  background-color: var(--dark-grey);
  color: var(--colony-white);
}

.themeDark a, .themeDark button {
  color: var(--dark);
}

.themeDark a:hover .themeDark button:hover {
  color: var(--light-grey-blue);
}
