@value query700 from '~styles/queries.css';

.permissionsRequired {
  margin-top: -15px;
}

.permissionsError {
  display: block;
  margin-top: -30px;
  font-size: var(--size-tiny);
  font-weight: var(--weight-bold);
  color: var(--pink);
}

.cannotCreateMotion {
  composes: permissionsError;
  margin: 0 0 30px;
}
